@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://youtu.be/dQw4w9WgXcQ">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Yo guys join my fortnite stream at <a href= "https://youtu.be/dQw4w9WgXcQ">gaming broskis dot net</a> </p>
