@page
@model MyFirstAzureWebApp.Pages.Index1Model
@{
    ViewData["Title"] = "Resources";
}
<h1>@ViewData["Title"]</h1>

<p>Many resources go into creating what us at LunarHUE use. This is where you can find an index of resources that we use for everything from our Multiplayer API, to this Website. This is by all means not a complete list, but it gives a general idea about what programs we use.</p>
<h3>Website</h3>

<ul>
    <li><a href= "https://visualstudio.microsoft.com/">Visual Studio 2022</a><ul><li>Used for coding in the .NET Framework</li></ul></li>
    <li><a href= "https://domains.google">Google Doamins</a><ul><li>Used for purchacing and DNS servers for the LunarHUE.com domain</li></ul></li>
    <li><a href= "https://azure.microsoft.com/en-us/services/app-service/web/">Azure Web Apps</a><ul><li>Used for hosting the website online</li></ul></li>
    <li><a href= "https://dotnet.microsoft.com/en-us/">.NET 6.0</a><ul><li>Used for the construction of the website</li></ul></li>
</ul>